tr.fail {
    background-color: #FFE6E7;
}

tr.fail:nth-child(even) {
  background-color: #FFCFD1;
}

div.link-details {
    margin-top: 15px;
    margin-bottom: 50px;
}

div.link-overview {
    display: inline-block;
}

div.link-delete {
    float: right;
    width: 15%;
}

button.link-delete {
    float: right;
    width: 100%;
    border-radius: 10px;
    border: None;
    padding: 10px;
    background-color: #BD2323;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin: 5px 10%;
}

button.img-delete {
    background-color: #BD2323;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1px 5px;
    border: None;
    border-radius: 3px;
    cursor: pointer;
}


button.link-delete:hover, button.img-delete:hover {
    transition: background-color 0.2s ease;
    background-color: #DB0F0F;
}