/* ------ General ------ */

body {
    font-family: Tahoma,Helvetica,Arial,Verdana,sans-serif;
    color: #555;
    margin: 0;
    margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #097DBC;
  color: white;
  text-align: right;
}

.header {
    margin-top: 15px;
    margin-left: 8px;
}

.content {
    margin: 15px;
}

h1 {
    color: #097DBC;
}

table {
    border-collapse: collapse;
    text-align: center;
    color: black;
}

.details-table {
    width: 100%;
}

tr {
    padding: 3px;
}

tr:nth-child(even) {
  background-color: #E3F5FF;
}

th {
    background-color: #3CA4DE;
    color: white;
}

.list-table th {
    padding: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  pointer-events: none; /* Don't block hover */

  position: absolute;
  z-index: 1;
}

.tooltip-right {
  top: -5px;
  left: 105%;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  margin-left: -80px; /* Center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltipheader {
  margin-top: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

/* ------ Nav Bar ------ */

div.navbar {
    background-color: #097DBC;
    color: white;
}

div.navbar a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul.navItems {
    margin-top: 10px;
}

ul.navItems a {
    display: block;
    color: white;
    padding: 15px;
}

ul.navItems li {
    display: inline-block;
}

ul.navItems li:hover:not(.currentPage) {
    transition: background-color 0.5s ease;
    background-color: #0B99E6;
}

li.currentPage {
    background-color: white;
    color: #097DBC;
    padding: 15px;
    cursor: default;
}

/* ------ Base Template ------ */

#time {
  float: right;
  text-align: right;
  padding-right: 25px;
}

img.cw-logo {
    float: right;
    margin-right: 10px;
    height: 62px;
}

/* ------ Home Page ------ */

td.active {
  color: #080;
  font-weight: bold;
}

td.inactive {
  color: #B00;
  font-weight: bold;
}

td.nomatch {
  color: #777;
  font-weight: bold;
}

.overview-table td {
    text-align: left;
    padding: 2px 5px;
}

.overview-table td + td {
    text-align: right;
    padding-left: 25px;
}

.qr {
    position: absolute;
    right: 0;
    bottom: 40px;
}

.qr img {
    height: 25%;
}